In [1]:
import pandas as pd
import numpy as np

In [183]:
_df = pd.read_csv('data/data.csv', encoding='ISO-8859-1').iloc[:6,:]

In [185]:
_df.head()

,names,x,y,manual_label,correct_label,x3,y3,x4,y4
0,Digit 2,0.933600,34.672680,-,Digit 2,17.1019,3.6875,-11.2479,8.4360
1,Digit 7,25.328316,-17.343037,-,Digit 7,16.4618,-4.9831,2.3704,1.3991
2,Digit 1,29.725433,16.650507,-,Digit 1,0.1516,-18.3263,-7.6700,-19.1876
3,Digit 3,-17.481684,20.676216,-,Digit 3,17.3014,-9.3113,-14.8074,19.9487
4,Digit 5,-10.580127,0.732536,-,Digit 5,5.4364,8.7862,18.3756,6.6732

In [199]:
figure = [{'customdata': [0], 'marker': {'size': 20, 'symbol': 'circle'}, 'mode': 'markers', 'name': '2', 'selectedpoints': [], 'text': [2], 'textposition': 'top center', 'x': [17.1019], 'y': [3.6875], 'type': 'scatter'}, {'customdata': [0, 1, 2, 3, 4], 'marker': {'size': 20, 'symbol': 'circle'}, 'mode': 'markers', 'name': '-', 'selectedpoints': [0, 2], 'text': ['-', '-', '-', '-', '-'], 'textposition': 'top center', 'x': [16.4618, 0.1516, 17.3014, 5.4364, -18.7036], 'y': [-4.9831, -18.3263, -9.3113, 8.7862, 6.8454], 'type': 'scatter'}]

In [200]:
_list_figure = [None, None, figure]

In [201]:
_list_figure[2]

[{'customdata': [0],
  'marker': {'size': 20, 'symbol': 'circle'},
  'mode': 'markers',
  'name': '2',
  'selectedpoints': [],
  'text': [2],
  'textposition': 'top center',
  'x': [17.1019],
  'y': [3.6875],
  'type': 'scatter'},
 {'customdata': [0, 1, 2, 3, 4],
  'marker': {'size': 20, 'symbol': 'circle'},
  'mode': 'markers',
  'name': '-',
  'selectedpoints': [0, 2],
  'text': ['-', '-', '-', '-', '-'],
  'textposition': 'top center',
  'x': [16.4618, 0.1516, 17.3014, 5.4364, -18.7036],
  'y': [-4.9831, -18.3263, -9.3113, 8.7862, 6.8454],
  'type': 'scatter'}]

In [202]:
_x_selection = []
_y_selection = []
for i in range(len(_list_figure[2])):
    _x = []
    _y = []
    _selected_points = _list_figure[2][i]['selectedpoints']
    for ii in range(len(_selected_points)):
        _x.append(_list_figure[2][i]['x'][_selected_points[ii]])
        _y.append(_list_figure[2][i]['y'][_selected_points[ii]])



    _x_temp = _df['x'][
        (_df['x3'].isin(_x)) &
        (_df['y3'].isin(_y))
      ]
    _x_temp = round(_x_temp,7)
    _x_selection.append(_x_temp.tolist())


    _y_temp = _df['y'][
        (_df['x3'].isin(_x)) &
        (_df['y3'].isin(_y))
      ]

    _y_temp = round(_y_temp,7)
    _y_selection.append(_y_temp.tolist())


_x_selection = list(np.asarray(_x_selection).reshape(1,len(_x_selection[0]))[0])
_y_selection = list(np.asarray(_y_selection).reshape(1,len(_y_selection[0]))[0])

ValueError: cannot reshape array of size 2 into shape (1,0)

In [207]:
_t = []
for i in range(len(_x_selection)):
    for ii in range(len(_x_selection[i])):
        _t.append(_x_selection[i][ii])

In [208]:
_t

[25.328316, -17.481684]

In [198]:
_y_selection

[-17.343037, 20.676216]

In [175]:
_index = []
_x_final = []
_y_final = []  
for i in range(len(figure)):
    _x = []
    _y = []              
    _selected_points = figure[i]['selectedpoints']
    for ii in range(len(_selected_points)):
        _x.append(figure[i]['x'][_selected_points[ii]])
        _y.append(figure[i]['y'][_selected_points[ii]])
    print("_x", _x)
    print("_y", _y)    
        
        

    _x_temp = df['x'][  
          (df['x3'].isin(_x)) &
          (df['y3'].isin(_y))
        ]

    _x_temp = round(_x_temp,7)
    _x_final.append(_x_temp.tolist())


    _y_temp = df['y'][  
          (df['x3'].isin(_x)) &
          (df['y3'].isin(_y))
        ]

    _y_temp = round(_y_temp,7)
    _y_final.append(_y_temp.tolist())
    

    
    _x_final = list(np.asarray(_x_final).reshape(1,len(_x_final[0]))[0])    
    _y_final = list(np.asarray(_y_final).reshape(1,len(_y_final[0]))[0])

_x [16.4618, 17.3014]
_y [-4.9831, -9.3113]

In [171]:
np.asarray(_x_final).reshape(1,2)

array([[ 25.328316, -17.481684]])

In [174]:
_x_final[0]

[25.328316, -17.481684]

In [154]:
x = np.asarray(_y_final)

In [160]:
list(np.asarray(_y_final).reshape(1,len(_y_final))[0])

[34.67268, 20.676216]

In [151]:
np_x_final

[[0.9335995], [-17.481684]]

In [148]:
_x

[17.3014]

In [146]:
print (figure[0]['selectedpoints'])
print (figure[1]['selectedpoints'])

[0]
[2]

In [147]:
_x_final

[-17.481684]

In [111]:
_x_final = df['x'][  
              (df['x3'].isin([5.4364]))
            ]

In [120]:
l_1 = [1,2]
l_2 = [5]

In [121]:
x = []

In [135]:
np.asarray(l_1)

array([1, 2])

In [122]:
x.append(l_1)

In [123]:
x

[[1, 2]]

In [112]:
 _x_final

4   -10.580127
Name: x, dtype: float64

In [114]:
_x_final = round(_x_final,7)

In [115]:
_x_final

4   -10.580127
Name: x, dtype: float64

In [116]:
_x_final.tolist()

[-10.580127]

In [107]:
_x_final

[-10.580127]

In [108]:
_y_final

[0.7325355]